[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
datasette = "*"
ansible = "*"
pyyaml = "*"
tqdm = "*"
neomodel = "*"

[dev-packages]
open-webui = "*"

[requires]
python_version = "3.12"
